#root {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  top: 0px;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
}

#items {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  max-width: 600px;
}

.item-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.delete-item {
  height: 100%;
}

input {
  font-size: 16px;
}
