#root {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  top: 0px;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
}

#hub-link {
  position: absolute;
  top: 10px;
  right: 10px;
}

#items {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  max-width: 600px;
}

input {
  font-size: 16px;
}
