#root {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  padding-top: calc(1rem + 20px);
  text-align: center;
  box-sizing: border-box;
}

#hub-link {
  position: absolute;
  top: 10px;
  right: 10px;
}

#items {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

input {
  font-size: 16px;
}

.flash-green {
  animation: flash-green 0.5s ease-out;
}

@keyframes flash-green {
  0% {
    background-color: rgba(0, 255, 0, 0.5);
  }
  100% {
    background-color: transparent;
  }
}
