#root {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  top: 0px;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
}

#content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  max-width: 600px;
}


.item {
  z-index: 5;
}

.item-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.delete-item {
  height: 100%;
  z-index: 10;
}


#input {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.category {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  max-width: 600px;
}

.item {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
}

.item:hover {
  border-color: #646cff;
}

.item:focus,
.item:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  font-size: 16px;
}

select {
  font-size: 16px;
}

@media (prefers-color-scheme: light) {
  .item {
    background-color: #f9f9f9;
  }
}
