name: cd

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy
      env:
        USER: ${{ secrets.LINODE_USER }}
        HOST: ${{ secrets.LINODE_HOST }}
      run: |
        ssh -i ${{ secrets.CD_KEY }} $USER@$HOST ~/beebfam/build-and-deploy-all.sh
